/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
	// background-color: rgb(173, 171, 171);
  // background-image: linear-gradient(180deg, rgb(132, 16, 155) ,rgb(23, 156, 11));
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

